

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --ul-color: #353430;
  --title-color: #FFC2E6;
  --p-color: #353430;
  --section__text-color: #353430;
  --bg-color: #FF8DCB;
  --header-color: #353430;
  --decorative-corner-border-color: #353430;
  --text-link-accent-color: #FF8DCB;
  --link-color: #353430;
  --footer-color: #FFC2E6;
  --display: none;
  --accent-color: #FF8DCB;
  --button-active-color: #353430;
  --hover-color: #32312D66;
  --link-hover-color: #353430;
  --link-focus-color: #353430;
  --border-focus-color: #353430;
  --background-body-color: #FFF1F7;
  --button-text-color: #353430;
}

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */


@media (prefers-color-scheme: light) {
  :root {
  --background-image: url(../images/cover-image-light.png);
  --ul-color: #353430;
  --title-color: #FFC2E6;
  --p-color: #353430;
  --section__text-color: #353430;
  --bg-color: #FF8DCB;
  --header-color: #353430;
  --decorative-corner-border-color: #353430;
  --text-link-accent-color: #FF8DCB;
  --link-color: #353430;
  --footer-color: #FFC2E6;
  --display: none;
  --accent-color: #FF8DCB;
  --button-active-color: #353430;
  --hover-color: #32312D66;
  --link-hover-color: #353430;
  --link-focus-color: #353430;
  --border-focus-color: #353430;
  --background-body-color: #FFF1F7;
  --button-text-color: #353430;
}
}